/*form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label, legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div, form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}*/

section.contact  {max-width: 960px; margin: 32px auto;   }

fieldset {
	border: 0;
    padding: 0;
}

input {
	border: none;
	padding: 8px;
	line-height: 1.2em;
	margin-bottom: 1.4em;
	font-size: 1.2em;
}
input[type=text],
input[type=email],

textarea {
	width: 50%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
 {
  width: 150px;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}

/* Colin's Updates */



label.field {width: 150px; display: inline; float: left;}
